MACHINE LEARNING MODEL FOR STOCKS RETURN PREDICTIONS BY FINANCIAL FUNDAMENTALS

Part 2: DATA PREPROCESSING AND MODEL BUILDING.

---

There is plenty to do with the newly scraped data.

To try list in case of poor performance


1.   Try using the exact initial date for features calculation which use stock price.
2.   Add original accounts as features
3. Remove examples with initial price = 0 ( Stocks which start to be public less than 4 year ago) 
4. Remove examples with final price = 0 (stocks that presented their last statms 2.5 or less months ago)
5. Research if outliers resulted from followed accounts changes (e,g: 100% or -100%) should be removed.

In [2]:
#Import needed libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tensorflow import keras
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Fundamentals_FinalDF.csv to Fundamentals_FinalDF.csv

In [4]:
import io
First_df = pd.read_csv(io.BytesIO(uploaded['Fundamentals_FinalDF.csv']))
First_df

         stock     endDate  ...   Total Debt  Free Cash Flow
0         MSFT  2020-06-30  ...   70998000.0      45234000.0
1         MSFT  2019-06-30  ...   78366000.0      38260000.0
2         MSFT  2018-06-30  ...   81808000.0      32252000.0
3         MSFT  2017-06-30  ...   86194000.0      31378000.0
4            T  2020-12-31  ...  179447000.0      27455000.0
..         ...         ...  ...          ...             ...
249  HERDEZ.MX  2017-12-31  ...    6350785.0       1327645.0
250      NTDOY  2020-03-31  ...          NaN     337910000.0
251      NTDOY  2019-03-31  ...          NaN     159792000.0
252      NTDOY  2018-03-31  ...          NaN     142599000.0
253      NTDOY  2017-03-31  ...          NaN             NaN

[254 rows x 18 columns]

In [5]:
First_df.loc[First_df['Initial Prices'] == 0]

    stock     endDate  ...  Total Debt  Free Cash Flow
217   DBX  2017-12-31  ...    174300.0        304200.0
225  PAGS  2017-12-31  ...         0.0        346069.0

[2 rows x 18 columns]

In [6]:
First_df.loc[First_df['Final Prices'] == 0]

    stock     endDate  ...    Total Debt  Free Cash Flow
120  NLOK  2021-04-02  ...  3.693000e+06        700000.0
132    RL  2021-03-27  ...  3.620500e+06        273100.0
164  SONY  2021-03-31  ...  2.456482e+09     837911000.0

[3 rows x 18 columns]

In [7]:
First_df = First_df.drop([217,225,120,132,164])

In [8]:
First_df['Target'] = (First_df['Final Prices'] - First_df['Initial Prices']) / First_df['Initial Prices']
First_df['Target']

0      0.074856
1      0.026195
2      0.111838
3      0.062650
4      0.020748
         ...
249    0.027334
250    0.368214
251    0.203121
252   -0.261525
253    0.376743
Name: Target, Length: 249, dtype: float64

In [9]:
First_df

         stock     endDate     netIncome  ...   Total Debt  Free Cash Flow    Target
0         MSFT  2020-06-30  4.428100e+10  ...   70998000.0      45234000.0  0.074856
1         MSFT  2019-06-30  3.924000e+10  ...   78366000.0      38260000.0  0.026195
2         MSFT  2018-06-30  1.657100e+10  ...   81808000.0      32252000.0  0.111838
3         MSFT  2017-06-30  2.548900e+10  ...   86194000.0      31378000.0  0.062650
4            T  2020-12-31 -5.176000e+09  ...  179447000.0      27455000.0  0.020748
..         ...         ...           ...  ...          ...             ...       ...
249  HERDEZ.MX  2017-12-31  1.046111e+09  ...    6350785.0       1327645.0  0.027334
250      NTDOY  2020-03-31  2.586410e+11  ...          NaN     337910000.0  0.368214
251      NTDOY  2019-03-31  1.940090e+11  ...          NaN     159792000.0  0.203121
252      NTDOY  2018-03-31  1.395900e+11  ...          NaN     142599000.0 -0.261525
253      NTDOY  2017-03-31  1.025740e+11  ...          NaN             NaN  0.376743

[249 rows x 19 columns]

In [10]:
First_df.isna().sum().head(20)

stock                        0
endDate                      0
netIncome                    0
totalRevenue                 0
ebit                         0
researchDevelopment        116
operatingIncome              0
interestExpense              9
totalAssets                  0
totalLiab                    0
totalCurrentLiabilities      0
totalCurrentAssets           0
repurchaseOfStock           43
Initial Prices               0
Final Prices                 0
Ordinary Shares Number       1
Total Debt                   9
Free Cash Flow               1
Target                       0
dtype: int64

In [11]:
nan_df = First_df[['stock', 'endDate', 'interestExpense', 'Ordinary Shares Number', 'Total Debt', 'Free Cash Flow']]
nan_values = nan_df[nan_df.isna().any(axis=1)]
nan_values
# The most convenient option is to search for those missing values manually at yahoo finance to figured out if they were scraper bugs, if the same data is missing in yahoo finance we can look for it in another financial websites.

     stock     endDate  ...  Total Debt  Free Cash Flow
77      FB  2019-12-31  ...  10601000.0      21212000.0
78      FB  2018-12-31  ...    500000.0      15359000.0
79      FB  2017-12-31  ...         NaN      17483000.0
222   PAGS  2020-12-31  ...         NaN        106108.0
223   PAGS  2019-12-31  ...         NaN       -213787.0
224   PAGS  2018-12-31  ...         NaN      -2016808.0
236   CMCM  2018-12-31  ...         NaN        280187.0
237   CMCM  2017-12-31  ...    336304.0        595165.0
250  NTDOY  2020-03-31  ...         NaN     337910000.0
251  NTDOY  2019-03-31  ...         NaN     159792000.0
252  NTDOY  2018-03-31  ...         NaN     142599000.0
253  NTDOY  2017-03-31  ...         NaN             NaN

[12 rows x 6 columns]

In [12]:
# Interest expense account data was enable in yahoo finance
First_df.loc[77, 'interestExpense'] = 1000 * 20000
First_df.loc[78, 'interestExpense'] = 1000 * 9000
First_df.loc[79, 'interestExpense'] = 1000 * 6000

    #First_df.loc[79, 'Total Debt'] = could be zero cause after that Debt start to increase

    #First_df.loc[236, 'interestExpense'] =
    #First_df.loc[237, 'interestExpense'] =
    #First_df.loc[236, 'Total Debt'] =


#PAGS debt at 2017 was = 0, then I suppose nex periods keeps the same way
First_df.loc[222, 'Total Debt'] = 0
First_df.loc[223, 'Total Debt'] = 0
First_df.loc[224, 'Total Debt'] = 0

First_df = First_df.drop([250,251,252,253])
First_df = First_df.reset_index(drop=True)

In [13]:
nan_df = First_df[['stock', 'endDate', 'interestExpense', 'Ordinary Shares Number', 'Total Debt', 'Free Cash Flow']]
nan_values = nan_df[nan_df.isna().any(axis=1)]
nan_values

    stock     endDate  ...  Total Debt  Free Cash Flow
79     FB  2017-12-31  ...         NaN      17483000.0
231  CMCM  2018-12-31  ...         NaN        280187.0
232  CMCM  2017-12-31  ...    336304.0        595165.0

[3 rows x 6 columns]

FEATURES COMPUTATION

![Needed accounts.png]()

In [14]:
First_df['Shareholders Equity'] = First_df['totalAssets'] - First_df['totalLiab'] 
First_df['Market Cap'] = First_df['Initial Prices'] * First_df['Ordinary Shares Number']

First_df['Earnings per Share'] = First_df['netIncome'] / First_df['Ordinary Shares Number']
First_df['ROA'] = First_df['netIncome'] / First_df['totalAssets']
First_df['ROE'] = First_df['netIncome'] / First_df['Shareholders Equity']
First_df['Net Profit Margin'] = First_df['netIncome'] / First_df['totalRevenue']
First_df['Interest Coverage'] = First_df['ebit'] / First_df['interestExpense']
First_df['Price to Sales'] = First_df['Market Cap'] / First_df['totalRevenue']
First_df['Current Ratio'] = First_df['totalCurrentAssets'] / First_df['totalCurrentLiabilities']
First_df['Debt to Assets'] = First_df['Total Debt'] / First_df['totalAssets']
First_df['Debt to Equity'] = First_df['Total Debt'] / First_df['Shareholders Equity']
First_df['Price/Book Ratio'] = First_df['Market Cap'] / First_df['Shareholders Equity']
First_df['Cash per Share'] = First_df['Free Cash Flow'] / First_df['Ordinary Shares Number']
First_df['Working Capital '] = First_df['totalCurrentAssets'] - First_df['totalCurrentLiabilities']
First_df['Total Ratio'] = First_df['totalAssets'] / First_df['totalLiab']
First_df['P/E Ratio'] = First_df['Initial Prices'] / First_df['Earnings per Share']

In [15]:
First_df

         stock     endDate  ...  Total Ratio  P/E Ratio
0         MSFT  2020-06-30  ...     1.646445   0.033210
1         MSFT  2019-06-30  ...     1.555459   0.025876
2         MSFT  2018-06-30  ...     1.469642   0.046726
3         MSFT  2017-06-30  ...     1.539425   0.021431
4            T  2020-12-31  ...     1.517256  -0.040476
..         ...         ...  ...          ...        ...
240         TV  2017-12-31  ...     1.504431   1.451974
241  HERDEZ.MX  2020-12-31  ...     2.067635   0.016521
242  HERDEZ.MX  2019-12-31  ...     2.230142   0.014439
243  HERDEZ.MX  2018-12-31  ...     2.602203   0.014326
244  HERDEZ.MX  2017-12-31  ...     2.650936   0.018734

[245 rows x 35 columns]

In [16]:
First_df = First_df.drop(['Final Prices', 'Initial Prices'], axis= 1)

In [17]:
# Check columns index
First_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   stock                    245 non-null    object
 1   endDate                  245 non-null    object
 2   netIncome                245 non-null    float64
 3   totalRevenue             245 non-null    float64
 4   ebit                     245 non-null    float64
 5   researchDevelopment      129 non-null    float64
 6   operatingIncome          245 non-null    float64
 7   interestExpense          243 non-null    float64
 8   totalAssets              245 non-null    float64
 9   totalLiab                245 non-null    float64
 10  totalCurrentLiabilities  245 non-null    float64
 11  totalCurrentAssets       245 non-null    float64
 12  repurchaseOfStock        202 non-null    float64
 13  Ordinary Shares Number   245 non-null    float64
 14  Total Debt               243 non-null    float64
 15  Free Cash Flow           245 non-null    float64
 16  Target                   245 non-null    float64
 17  Shareholders Equity      245 non-null    float64
 18  Market Cap               245 non-null    float64
 19  Earnings per Share       245 non-null    float64
 20  ROA                      245 non-null    float64
 21  ROE                      245 non-null    float64
 22  Net Profit Margin        245 non-null    float64
 23  Interest Coverage        243 non-null    float64
 24  Price to Sales           245 non-null    float64
 25  Current Ratio            245 non-null    float64
 26  Debt to Assets           243 non-null    float64
 27  Debt to Equity           243 non-null    float64
 28  Price/Book Ratio         245 non-null    float64
 29  Cash per Share           245 non-null    float64
 30  Working Capital          245 non-null    float64
 31  Total Ratio              245 non-null    float64
 32  P/E Ratio                245 non-null    float64
dtypes: float64(31), object(2)
memory usage: 63.3+ KB

In [18]:
Ratios_DF = First_df.iloc[:,[16,0,1,3,5,6,12,19,20,21,22,23,24,25,26,27,28,29,30,31,32]]
Ratios_DF

       Target      stock     endDate  ...  Working Capital   Total Ratio  P/E Ratio
0    0.074856       MSFT  2020-06-30  ...      1.096050e+11     1.646445   0.033210
1    0.026195       MSFT  2019-06-30  ...      1.061320e+11     1.555459   0.025876
2    0.111838       MSFT  2018-06-30  ...      1.111740e+11     1.469642   0.046726
3    0.062650       MSFT  2017-06-30  ...      1.069510e+11     1.539425   0.021431
4    0.020748          T  2020-12-31  ...     -1.143000e+10     1.517256  -0.040476
..        ...        ...         ...  ...               ...          ...        ...
240 -0.198541         TV  2017-12-31  ...      3.627989e+10     1.504431   1.451974
241  0.065451  HERDEZ.MX  2020-12-31  ...      6.833431e+09     2.067635   0.016521
242 -0.122629  HERDEZ.MX  2019-12-31  ...      6.346734e+09     2.230142   0.014439
243  0.094935  HERDEZ.MX  2018-12-31  ...      6.100554e+09     2.602203   0.014326
244  0.027334  HERDEZ.MX  2017-12-31  ...      5.131848e+09     2.650936   0.018734

[245 rows x 21 columns]

In [19]:
Ratios_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Target               245 non-null    float64
 1   stock                245 non-null    object
 2   endDate              245 non-null    object
 3   totalRevenue         245 non-null    float64
 4   researchDevelopment  129 non-null    float64
 5   operatingIncome      245 non-null    float64
 6   repurchaseOfStock    202 non-null    float64
 7   Earnings per Share   245 non-null    float64
 8   ROA                  245 non-null    float64
 9   ROE                  245 non-null    float64
 10  Net Profit Margin    245 non-null    float64
 11  Interest Coverage    243 non-null    float64
 12  Price to Sales       245 non-null    float64
 13  Current Ratio        245 non-null    float64
 14  Debt to Assets       243 non-null    float64
 15  Debt to Equity       243 non-null    float64
 16  Price/Book Ratio     245 non-null    float64
 17  Cash per Share       245 non-null    float64
 18  Working Capital      245 non-null    float64
 19  Total Ratio          245 non-null    float64
 20  P/E Ratio            245 non-null    float64
dtypes: float64(19), object(2)
memory usage: 40.3+ KB

In [20]:
#Ratios_DF_2index = Ratios_DF.groupby(by=["stock"]).cumcount
#df.groupby(level=0).cumcount()
len(Ratios_DF)

245

In [34]:
def Features_creator(col):
  Account_change = []
  row = 0
  while row < (len(Ratios_DF)-1):
    Account_change_row = (Ratios_DF.iloc[row, col] - Ratios_DF.iloc[row + 1, col]) / Ratios_DF.iloc[row + 1, col]
    Account_change.append(Account_change_row)
    row = 1 + row
  Account_change.append(0)  
  return Account_change

In [ ]:
Features_creator(3)

In [37]:
len(Account_change)

245

In [ ]:
Ratios_DF['test'] = Account_change

In [31]:
Ratios_DF

       Target      stock     endDate  ...  Total Ratio  P/E Ratio      test
0    0.074856       MSFT  2020-06-30  ...     1.646445   0.033210  0.136456
1    0.026195       MSFT  2019-06-30  ...     1.555459   0.025876  0.140295
2    0.111838       MSFT  2018-06-30  ...     1.469642   0.046726  0.142786
3    0.062650       MSFT  2017-06-30  ...     1.539425   0.021431 -0.437756
4    0.020748          T  2020-12-31  ...     1.517256  -0.040476 -0.052061
..        ...        ...         ...  ...          ...        ...       ...
240 -0.198541         TV  2017-12-31  ...     1.504431   1.451974  2.922164
241  0.065451  HERDEZ.MX  2020-12-31  ...     2.067635   0.016521  0.072073
242 -0.122629  HERDEZ.MX  2019-12-31  ...     2.230142   0.014439  0.069129
243  0.094935  HERDEZ.MX  2018-12-31  ...     2.602203   0.014326  0.045142
244  0.027334  HERDEZ.MX  2017-12-31  ...     2.650936   0.018734  0.000000

[245 rows x 22 columns]

In [51]:
def mult_features_creator(cols):
  print ('getting returns for row' + str(row) + 'from column' + str(col))
  return pd.concat([pd.Series(Features_creator(col)) for col in cols], axis=1)

  # lists = [lst1, lst2, lst3, lst4]
  # df = pd.concat([pd.Series(x) for x in lists], axis=1)

In [53]:
cols = [3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
mult_features_creator(cols)

getting returns for row244from column3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

           0         1         2   ...         15        16         17
0    0.136456  0.141799  0.232780  ...   0.032723  0.058495   0.283447
1    0.140295  0.146000  0.225369  ...  -0.045352  0.058393  -0.446223
2    0.142786  0.129554  0.195254  ...   0.039485 -0.045331   1.180271
3   -0.437756       NaN  0.143241  ... -10.357043  0.014611  -1.529489
4   -0.052061       NaN -0.075160  ...  -0.192226 -0.038123  -3.002314
..        ...       ...       ...  ...        ...       ...        ...
240  2.922164       NaN  4.465401  ...   4.309176 -0.272391  86.886527
241  0.072073       NaN -0.006895  ...   0.076685 -0.072868   0.144183
242  0.069129       NaN -0.029342  ...   0.040354 -0.142979   0.007863
243  0.045142       NaN  0.061539  ...   0.188764 -0.018383  -0.235257
244  0.000000  0.000000  0.000000  ...   0.000000  0.000000   0.000000

[245 rows x 18 columns]